<div id="<%= dom_id employee %>">
  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= employee.dob %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= employee.address %>
  </p>

  <p>
    <strong>Joining:</strong>
    <%= employee.joining %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= employee.salary %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= employee.company_id %>
  </p>

  <p>
    <strong>Department_Code:</strong>
    <%= employee.department_code %>
  </p>

</div>

