<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  

   <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div> 

   <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div> 

  <div>
    <%= form.label :dob, style: "display: block" %>
    <%= form.date_field :dob %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :joining, style: "display: block" %>
    <%= form.date_field :joining %>
  </div>

  <div>
    <%= form.label :salary, style: "display: block" %>
    <%= form.text_field :salary %>
  </div>

  <div>
    <%= form.label :company_id, style: "display: block" %>
    <%= form.text_field :company_id %>
  </div>

  <div>
    <%= form.label :department_id, style: "display: block" %>
    <%= form.text_field :department_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
