<div id="<%= dom_id leaf %>">
  <p>
    <strong>Start date:</strong>
    <%= leaf.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= leaf.end_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= leaf.status %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= leaf.reason %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= leaf.employee_id %>
  </p>

</div>
